h1 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: start;
}
input,
textarea,
button {
  background: white;
  border: 1px solid #000000;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}
input:focus,
textarea:focus {
  outline: 0;
  box-shadow: 0 0 2rem rgb(0, 0, 0, 50%);
}

button {
  cursor: pointer;
  padding: 10px 30px;
}

button:hover {
  background-color: #3f51b5;
  color: #fff;
}
textarea {
  width: 600px;
}

.post {
  padding: 5px 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-bottom: 10px;
}

.postTitle {
  font-size: 24px;
}
